<form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && Register()" autocomplete="off">
  <h1 class="text-center text-primary">Sign Up</h1>
<hr>
 <label class="me-3"> <strong>I am a: </strong></label>
 <div class="form-radio form-check-inline mb-3">

  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="mail">
  <label class="form-check-label" for="inlineCheckbox1">mail</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="femail">
  <label class="form-check-label" for="inlineCheckbox2">femail</label>
</div>

 <app-text-input  [formControl]='registerForm.controls["username"]'
   [label]='"Username"'   [type]='"text"'></app-text-input>

   <app-text-input  [formControl]='registerForm.controls["KnownAs"]'
   [label]='"KnownAs"'  [type]='"text"'></app-text-input>

   <app-date-input  [formControl]='registerForm.controls["DateOfBirth"]'
   [label]='"DateOfBirth"'  ></app-date-input>

   <app-text-input  [formControl]='registerForm.controls["City"]'
   [label]='"City"'   [type]='"text"'></app-text-input>

   <app-text-input  [formControl]='registerForm.controls["Country"]'
   [label]='"Contry"'   [type]='"text"'></app-text-input>

 <app-text-input [formControl]='registerForm.controls["password"]'
  [label]='"Password"' [type]='"password"'></app-text-input>

  <app-text-input [formControl]='registerForm.controls["confirmPassword"]'
   [label]='"Confirm Password"' [type]='"password"'></app-text-input>

   <div class="row mt-5" *ngIf="validationErrors.length > 0">

    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
          {{error}}
      </li>
    </ul>

  </div>

  <div class="text-center">
    <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">Register</button>
    <button class="btn btn-info ms-2" (click)=CancelRegister()>Cancel</button>
  </div>
</form>

<p class="mt-3">Form value : {{registerForm.value | json}}</p>
<p>Form status : {{registerForm.status | json}}</p>
