<div class="text-center mt-3" *ngIf="pageination">
  <h2>Your matches - {{pageination.totalItems}}</h2>
</div>
<div class="container ">
  <form #ngForm="ngForm" class="row row-cols-lg-auto g-3 align-items-center" (ngSubmit)="LoagMembers()" autocomplete="off">
    <div class="col-12">
      <label class="visually-hidden" for="inlineFormSelectPref">Age from: </label>
     <input type="number"  style="width: 70px;" [(ngModel)]="userParams.minAge" name="minAge">
    </div>

    <div class="col-12">
      <label class="visually-hidden" for="inlineFormSelectPref">Age to: </label>
     <input type="number"  style="width: 70px;"  [(ngModel)]="userParams.maxAge" name="maxAge">
    </div>
  
    <div class="col-12">
      <label class="visually-hidden" for="inlineFormSelectPref"label>Show: </label>
      <select name="gender" class="form-select" id="inlineFormSelectPref" [(ngModel)]="userParams.gender" >
        <option  *ngFor="let gender of genderList" [value]="gender.value">

          {{gender.display}}

        </option>
      </select>
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary ">Apply</button>
    </div>
    <div class="col-12">
      <button (click)="resetFilter()" type="submit" class="btn btn-danger ml-2">Reset</button>
    </div>

    <div class="col-12">
     <button 
       type="button" 
       class="btn btn-primary"
       [(ngModel)]="userParams.orderBy" 
       name="orderBy"
       btnRadio="lastActive"
       (click)="LoagMembers()"
      >
         Last Activity
   </button>

   <button 
   type="button" 
   class="btn btn-primary"
   [(ngModel)]="userParams.orderBy" 
   name="orderBy"
   btnRadio="created"
   (click)="LoagMembers()"
  >
     Newest Created
</button>
    </div>
    
    
  </form>
</div>

<div class="row mt-3">
  <div *ngFor="let member of members" class="col-2">
    <app-membercard [member]="member"></app-membercard>
</div>
</div>
<div class="d-flex justify-content-center" *ngIf="pageination">
 
  <pagination
       [boundaryLinks]="true" 
       [totalItems]="pageination.totalItems"
       [(ngModel)]="pageination.currentPge"
       [itemsPerPage]="pageination.itemPerPage"
       (pageChanged)="pageChanged($event)"
       previousText="&lsaquo;" 
       nextText="&rsaquo;" 
       firstText="&laquo;" 
       lastText="&raquo;">
 
</pagination>
</div>
